#btn-add-customer-info, #btn-hide-customer-info{
    float: right;
}

#btn-hide-customer-info{
    display: none;
}

#product-price-label, #product-quantity-label
{
    color: #2abf4d;
    font-weight: bold;
}

#receipt-customer-info{
    padding: 15px;
    border: 1px dashed black;
}

.custom-select a{
    padding: 0px 10px !important;
}
