#btn-add-customer-info, #btn-hide-customer-info{
    float: right;
}

#btn-hide-customer-info{
    display: none;
}

#product-price-label, #product-quantity-label
{
    color: #2abf4d;
    font-weight: bold;
}

#receipt-customer-info{
    padding: 15px;
    border: 1px dashed black;
}

.custom-select a{
    padding: 0px 10px !important;
}

.date-range-profit-container{
    margin-top: 20px;
}

#btn-filter{
    margin: 15px;
    width: 200px;
}

#form-profit-filter{
    border: 1px solid #cecaca;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 2px;
}
#btn-show-profit-stats,#btn-hide-profit-stats{
    right: 1px;
    background: #0037ff;
    color: white;
    border-radius: 5px;
    padding: 5px;
    float: right;
    cursor: pointer;
}
#generate-bill{
    padding: 5px;
    width: 120px;
    border-radius: 100px;
    height: 120px;
    font-weight: bold;
    margin: 10px;
}
